@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --bg-primary: #faf9ff;
    --bg-container-primary: #fff;
    --border-secondary: #3a3958;
    --bg-secondary: #343353;
    --color-primary: #343353;
    --color-secondary: #f5f5f6;
    --effect-color: #ffffff;
    --color-info: #838da2;

    --red: #fe4b60;
    --yellow: #ffd05c;
    --purple: #5858e2;
    --green: #5c8984;
    --dark-blue: #374259;
    --orange: #efb08c;
    --blue: #5c89e2;

    font-size: 115%;

}

html {
    scroll-behavior: smooth;
}

* {cursor: url(https://cur.cursors-4u.net/anime/ani-11/ani1030.cur), auto !important;}

.active-nav-link {
    color: var(--effect-color);
}
